$buttonColor: #2F79BA;
$buttonBorder: #2A6CA8;

$tipsColor: #AEAEAE;
$tipsError: #DE000F;
$tipsCorrect: #61BA46;

body, html {
	box-sizing: border-box;
}

input[name="name"] {
	width: 250px;
	height: 20px;
	padding: 8px;
	border: 1px solid $tipsColor;
	margin: 0 5px 0 20px;
	border-radius: 5px;
	box-shadow: inset 1px 2px 3px rgba(0,0,0, 0.1);
	outline: none;
	
	&.errorInput {
		border: 1px solid $tipsError;
	}
	
	&.correctInput {
		border: 1px solid $tipsCorrect;
	}
}

#match {
	width: 55px;
	height: 36px;
	background: $buttonColor;
	color: #fff;
	border: 1px solid $buttonBorder;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}

.tips {
	margin: 5px 0 0 55px;
	color: $tipsColor;
	font-size: 80%;
		
	&.errorTips {
		color: $tipsError;
	}
	
	&.correctTips {
		color: $tipsCorrect;
	}
}