$modal-bg-color: #fff;

$border-color: #eee;
$text-color: #333;

$button-color: #fff;
$button-bg-color: #489ED1;

$overlay-bg-color: rgba(0, 0, 0, .6);

$success: #3c763d;
$info: #31708f;
$warning: #8a6d3b;
$error: #a94442;
