.container-fluid {
  padding-left: 15px;
  padding-right: 15px; }

.container-fixed {
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 480px) {
    .container-fixed {
      width: 480px; } }
  @media (min-width: 768px) {
    .container-fixed {
      width: 768px; } }
  @media (min-width: 992px) {
    .container-fixed {
      width: 992px; } }
  @media (min-width: 1200px) {
    .container-fixed {
      width: 1200px; } }

.row, .row-top, .row-middle, .row-bottom, .row-stretch, .row-base, .row-left, .row-center, .row-right, .row-between, .row-around {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 15px; }

.row-top {
  align-items: flex-start; }

.row-middle {
  align-items: center; }

.row-bottom {
  align-items: flex-end; }

.row-stretch {
  align-items: stretch; }

.row-base {
  align-items: baseline; }

.row-left {
  justify-content: flex-start; }

.row-center {
  justify-content: center; }

.row-right {
  justify-content: flex-end; }

.row-between {
  justify-content: space-between; }

.row-around {
  justify-content: space-around; }

[class^=col-] {
  padding-left: 15px;
  padding-right: 15px;
  flex: 1;
  display: flex; }

@media (min-width: 480px) {
  .col-xs-1 {
    flex: 0 0 8.33333%; }

  .col-xs-2 {
    flex: 0 0 16.66667%; }

  .col-xs-3 {
    flex: 0 0 25%; }

  .col-xs-4 {
    flex: 0 0 33.33333%; }

  .col-xs-5 {
    flex: 0 0 41.66667%; }

  .col-xs-6 {
    flex: 0 0 50%; }

  .col-xs-7 {
    flex: 0 0 58.33333%; }

  .col-xs-8 {
    flex: 0 0 66.66667%; }

  .col-xs-9 {
    flex: 0 0 75%; }

  .col-xs-10 {
    flex: 0 0 83.33333%; }

  .col-xs-11 {
    flex: 0 0 91.66667%; }

  .col-xs-12 {
    flex: 0 0 100%; } }
@media (min-width: 768px) {
  .col-sm-1 {
    flex: 0 0 8.33333%; }

  .col-sm-2 {
    flex: 0 0 16.66667%; }

  .col-sm-3 {
    flex: 0 0 25%; }

  .col-sm-4 {
    flex: 0 0 33.33333%; }

  .col-sm-5 {
    flex: 0 0 41.66667%; }

  .col-sm-6 {
    flex: 0 0 50%; }

  .col-sm-7 {
    flex: 0 0 58.33333%; }

  .col-sm-8 {
    flex: 0 0 66.66667%; }

  .col-sm-9 {
    flex: 0 0 75%; }

  .col-sm-10 {
    flex: 0 0 83.33333%; }

  .col-sm-11 {
    flex: 0 0 91.66667%; }

  .col-sm-12 {
    flex: 0 0 100%; } }
@media (min-width: 992px) {
  .col-md-1 {
    flex: 0 0 8.33333%; }

  .col-md-2 {
    flex: 0 0 16.66667%; }

  .col-md-3 {
    flex: 0 0 25%; }

  .col-md-4 {
    flex: 0 0 33.33333%; }

  .col-md-5 {
    flex: 0 0 41.66667%; }

  .col-md-6 {
    flex: 0 0 50%; }

  .col-md-7 {
    flex: 0 0 58.33333%; }

  .col-md-8 {
    flex: 0 0 66.66667%; }

  .col-md-9 {
    flex: 0 0 75%; }

  .col-md-10 {
    flex: 0 0 83.33333%; }

  .col-md-11 {
    flex: 0 0 91.66667%; }

  .col-md-12 {
    flex: 0 0 100%; } }
@media (min-width: 1200px) {
  .col-lg-1 {
    flex: 0 0 8.33333%; }

  .col-lg-2 {
    flex: 0 0 16.66667%; }

  .col-lg-3 {
    flex: 0 0 25%; }

  .col-lg-4 {
    flex: 0 0 33.33333%; }

  .col-lg-5 {
    flex: 0 0 41.66667%; }

  .col-lg-6 {
    flex: 0 0 50%; }

  .col-lg-7 {
    flex: 0 0 58.33333%; }

  .col-lg-8 {
    flex: 0 0 66.66667%; }

  .col-lg-9 {
    flex: 0 0 75%; }

  .col-lg-10 {
    flex: 0 0 83.33333%; }

  .col-lg-11 {
    flex: 0 0 91.66667%; }

  .col-lg-12 {
    flex: 0 0 100%; } }
* {
  box-sizing: border-box; }

div {
  min-height: 30px; }

body {
  margin: 0; }

.row > [class^=col-]:nth-child(1), .row-top > [class^=col-]:nth-child(1), .row-middle > [class^=col-]:nth-child(1), .row-bottom > [class^=col-]:nth-child(1), .row-stretch > [class^=col-]:nth-child(1), .row-base > [class^=col-]:nth-child(1), .row-left > [class^=col-]:nth-child(1), .row-center > [class^=col-]:nth-child(1), .row-right > [class^=col-]:nth-child(1), .row-between > [class^=col-]:nth-child(1), .row-around > [class^=col-]:nth-child(1) {
  background: #487E88; }

.row > [class^=col-]:nth-child(2), .row-top > [class^=col-]:nth-child(2), .row-middle > [class^=col-]:nth-child(2), .row-bottom > [class^=col-]:nth-child(2), .row-stretch > [class^=col-]:nth-child(2), .row-base > [class^=col-]:nth-child(2), .row-left > [class^=col-]:nth-child(2), .row-center > [class^=col-]:nth-child(2), .row-right > [class^=col-]:nth-child(2), .row-between > [class^=col-]:nth-child(2), .row-around > [class^=col-]:nth-child(2) {
  background: #DD7D73; }

.row > [class^=col-]:nth-child(3), .row-top > [class^=col-]:nth-child(3), .row-middle > [class^=col-]:nth-child(3), .row-bottom > [class^=col-]:nth-child(3), .row-stretch > [class^=col-]:nth-child(3), .row-base > [class^=col-]:nth-child(3), .row-left > [class^=col-]:nth-child(3), .row-center > [class^=col-]:nth-child(3), .row-right > [class^=col-]:nth-child(3), .row-between > [class^=col-]:nth-child(3), .row-around > [class^=col-]:nth-child(3) {
  background: #57A769; }

/*# sourceMappingURL=app.css.map */
